<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Lista użytkowników</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Użytkownicy</h1>-->
<!--    <a href="{{ url_for('main.add_user') }}">Dodaj użytkownika</a>-->
<!--    <ul>-->
<!--        {% for user in users %}-->
<!--            <li>-->
<!--                {{ user.username }} ({{ user.email }})-->
<!--                [<a href="{{ url_for('main.edit_user', id=user.id) }}">Edytuj</a>]-->
<!--                [<a href="{{ url_for('main.delete_user', id=user.id) }}">Usuń</a>]-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
